In [27]:
# Potrzebne importy
import pandas as pd
import os
import re
import numpy as np

# wybor_data_setu
imie = "Marcin"
nazwisko = "Biela"

data_set_nr = (len(imie) + len(nazwisko)) % 16

print(data_set_nr)

11

In [28]:
# odczytuje scieżke do oryginalnego pliku w celu wczytania datasetu
original_data_path = os.getcwd()[:-13] + "original_data/11_SLA.csv"
print(original_data_path)

/home/mbiela/Documents/AiBD/laboratorium-6-Marcin279/original_data/11_SLA.csv

In [29]:
# Wczytywanie datasetu
df = pd.read_csv(original_data_path, index_col=0)
df

     Dni od zakupu       Marka  Wiek kupującego Płeć kupującego  Ocena
0               10        Beko             33.0               M    1.5
1                3       Tefal              NaN               M    3.5
2                9     Samsung             44.0               M    2.5
3                5     Samsung             40.0               M    0.5
4                2     Samsung             48.0               M    3.0
..             ...         ...              ...             ...    ...
448              6        Beko             40.0               M    2.0
449              3       Tefal             37.0               M    0.5
450              4       Dyson             41.0               M    3.0
451              4       Tefal             27.0               M    1.5
452             10  Electrolux             45.0               M    2.5

[453 rows x 5 columns]

In [30]:
df['Płeć kupującego'] = df['Płeć kupującego'].map({'K':'K', 'M':'M', 'b.d.':np.nan})
df.loc[380, :]

Dni od zakupu         3
Marka              Beko
Wiek kupującego    49.0
Płeć kupującego     NaN
Ocena               3.0
Name: 380, dtype: object

In [31]:
# save to csv
analisys_data_file_path = os.getcwd()[:-13] + "analysis_data/analisys_data.csv"
print(analisys_data_file_path)

df.to_csv(analisys_data_file_path)

/home/mbiela/Documents/AiBD/laboratorium-6-Marcin279/analysis_data/analisys_data.csv