## Podstawy analizy języka naturalnego

Celem ćwiczenia jest zapoznanie się z prostymi metodami analizy języka naturalnego.
W tym celu będziemy wykorzystywać metodę Bag of Words, zaimplementowaną jako klasa ```CountVectorizer``` pakietu sci-kit learn. 

Będziemy analizować bazę danych zawierającą informację o filmach. Interesujące nas tabele to:

genres
(
    genre_id bigint,
    name text COLLATE pg_catalog."default"
)

genres_movies
(
    id bigint,
    movie_id bigint,
    genre_id bigint
)

movies
(
    movie_id bigint,
    plot text COLLATE pg_catalog."default",
    movie_name text COLLATE pg_catalog."default"
)

Dostęp do bazy umożliwia

In [81]:
import sqlalchemy
# import psycopg2 as pg
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_classifier_abd"
db = create_engine(db_string)

# connection_sql_alchemy = db.connect()
# connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_classifier_abd', user='wbauer_adb', password='adb2020');

1. Ponieważ baza jest dość duża należy ograniczyć się do 10% danych (wybranych losowo):
```SQL
SELECT setseed(0.5); 
SELECT ...
FROM movies 
JOIN genres_movies ON ... 
JOIN genres ON ... 
WHERE random()>0.9
```
Zapytanie uzupelnic samodzielnie tak, aby uzyskać, tytuł, opis fabuły i gatunek filmu.

In [82]:
select_string='SELECT setseed(0.5); SELECT movies.movie_name, movies.plot, genres.name FROM movies JOIN genres_movies ON movies.movie_id=genres_movies.movie_id JOIN genres ON genres_movies.genre_id=genres.genre_id WHERE random()>0.9' 

df=pd.read_sql(select_string,con=db)
df

,movie_name,plot,name
0,Flåklypa Grand Prix,"In the town of Flåklypa , the inventor Reodo...",Stop motion
1,Saving Private Ryan,"On the morning of June 6, 1944, the beginning ...",Ensemble Film
2,The Rock,A group of rogue Force Recon Marines led by di...,Thriller
3,The Silence of the Lambs,Clarice Starling is pulled from her training ...,Thriller
4,The Terminator,"In a post-apocalyptic 2029, artificially inte...",Thriller
...,...,...,...
4246,Tomchi,Tomchi is a story of six notorious children wh...,Drama
4247,Every 9 Seconds,"The films deal with a woman named Carrie , a c...",Drama
4248,Shanghai Calling,"Sam Chao , an ambitious New York attorney, is ...",Drama
4249,Shark Attack 3: Megalodon,When two researchers discover a colossal shark...,Fantasy
4250,Mr. Bechara,"Anand Verma, a widower and father of a child, ...",Comedy film

2. Spośród 10 najpopularniejszych gatunków filmów wybrać jeden ( liczba liter w imieniu i nazwisku modulo 10). I utworzyć kolumne przypisującą 0 gdy film jest tego gatunku i odwrotnie.

In [83]:
imie = 'Marcin'
nazwisko = 'Biela'
df_gatunek = df.groupby(['name']).count().sort_values(by=['movie_name'], ascending=False).head(10)
wybor = (len(imie) + len(nazwisko)) % 10  # 1
print(wybor)
print(df_gatunek)
# Thriller

1
                 movie_name  plot
name
Thriller                536   536
Drama                   532   532
Short Film              329   329
Crime Fiction           280   280
Romantic comedy         187   187
Romance Film            183   183
Comedy film             115   115
Horror                  112   112
Comedy                  107   107
Musical                 106   106

In [84]:
# df['wybor_gatunku'] = df[df['name'] == 'Drama'] = 0
# df['wybor_gatunku'] = df[df['name'] != 'Drama'] = 1
df['wybor_gatunku'] = np.where((df.name=='Drama'), 0, 1)
df

,movie_name,plot,name,wybor_gatunku
0,Flåklypa Grand Prix,"In the town of Flåklypa , the inventor Reodo...",Stop motion,1
1,Saving Private Ryan,"On the morning of June 6, 1944, the beginning ...",Ensemble Film,1
2,The Rock,A group of rogue Force Recon Marines led by di...,Thriller,1
3,The Silence of the Lambs,Clarice Starling is pulled from her training ...,Thriller,1
4,The Terminator,"In a post-apocalyptic 2029, artificially inte...",Thriller,1
...,...,...,...,...
4246,Tomchi,Tomchi is a story of six notorious children wh...,Drama,0
4247,Every 9 Seconds,"The films deal with a woman named Carrie , a c...",Drama,0
4248,Shanghai Calling,"Sam Chao , an ambitious New York attorney, is ...",Drama,0
4249,Shark Attack 3: Megalodon,When two researchers discover a colossal shark...,Fantasy,1
4250,Mr. Bechara,"Anand Verma, a widower and father of a child, ...",Comedy film,1

3. Utworzyć model bag of words, usuwając akcenty, stopwords i zmniejszając wszystkie litery na małe. Ograniczyć się do 20 najpopularniejszych słów.

In [85]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=20, stop_words='english', strip_accents='ascii')

count_matrix = vectorizer.fit_transform(df['plot'])

count_matrix = count_matrix.toarray()

df_1 = pd.DataFrame(data=count_matrix, columns=vectorizer.get_feature_names())
df_1

,away,day,family,father,film,finds,goes,home,house,later,life,love,man,mother,new,police,son,takes,tells,time
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,3,2,0,0,0,0,3,0,0,2,0,2,2,0,0,1,0,0,0
2,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,3,3,1
3,2,0,0,0,0,0,0,0,2,2,0,0,3,0,0,1,0,0,3,2
4,1,0,0,1,0,0,0,0,0,2,1,1,0,0,0,2,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4246,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
4247,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4248,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4249,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4250,0,1,0,1,0,1,1,0,2,0,1,1,0,2,0,0,0,1,1,0

4. Przekształcić opisy filmów do danej postaci za pomocą metody ```.fit_and_transform```
5. Dokonać podziału na zbiór uczący i testowy

In [86]:
from sklearn.model_selection import train_test_split
X = df_1
# y = data_set.iloc[:, 2]
y = df['wybor_gatunku']
print(y)
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.33, random_state=42) 

print(X_train)
print(X_test)
print(y_train)
print(y_test)

0       1
1       1
2       1
3       1
4       1
       ..
4246    0
4247    0
4248    0
4249    1
4250    1
Name: wybor_gatunku, Length: 4251, dtype: int64
      away  day  family  father  film  finds  goes  home  house  later  life  \
2698     0    0       0       0     0      0     0     0      0      0     0
2803     0    0       0       0     0      0     0     0      0      0     0
2018     1    0       0       0     0      1     2     1      1      2     4
3084     2    0       0       1     0      1     1     1      7      5     4
1647     0    0       0       0     0      0     0     1      1      0     0
...    ...  ...     ...     ...   ...    ...   ...   ...    ...    ...   ...
3444     0    1       1       0     0      0     0     0      0      0     1
466      0    0       0       0     0      0     1     0      0      0     0
3092     0    0       0       0     3      0     0     0      0      0     0
3772     0    1       0       1     0      1     1     0      2      6     0
860      0    2       6       1     0      0     2     0      2      0     0

      love  man  mother  new  police  son  takes  tells  time
2698     0    0       0    1       0    0      0      0     0
2803     0    1       0    0       0    0      0      0     0
2018     3    1       0    0       1    0      0      0     0
3084     1    0       0    1       2    1      3      9     2
1647     0    0       0    0       1    0      0      0     0
...    ...  ...     ...  ...     ...  ...    ...    ...   ...
3444     0    0       1    1       0    0      1      1     0
466      0    0       0    0       0    0      0      0     0
3092     0    0       0    0       0    0      0      0     0
3772     0    0       0    1       0    0      0      1     0
860      1    0       0    0       1    3      0      2     0

[2848 rows x 20 columns]
      away  day  family  father  film  finds  goes  home  house  later  life  \
1024     0    0       0       0     0      1     0     0      0      0     0
2179     1    1       1       3     0      2     3     4      3      0     2
4104     1    1       0       1     0      0     0     0      1      0     0
3622     0    0       0       2     0      0     0     0      0      0     1
4130     0    0       0       0     0      0     0     0      0      0     1
...    ...  ...     ...     ...   ...    ...   ...   ...    ...    ...   ...
2905     0    0       1       0     0      1     0     0      0      0     0
3426     0    0       0       0     0      0     0     0      0      0     0
2457     0    0       0       0     1      0     1     0      0      0     1
836      3    6       0       0     1      2     4     8      4      3     0
3767     0    2       0       0     0      0     1     1      0      0     0

      love  man  mother  new  police  son  takes  tells  time
1024     0    0       0    0       0    0      0      0     0
2179     1    0       2    2       4    0      3      4     0
4104     0    0       0    1       0    0      0      0     0
3622     0    0       0    0       0    0      0      0     0
4130     0    0       0    0       0    0      0      0     0
...    ...  ...     ...  ...     ...  ...    ...    ...   ...
2905     0    0       0    2       0    0      0      0     0
3426     0    0       0    0       0    0      0      0     0
2457     0    1       0    0       0    0      0      1     0
836      0    0       0    4       0    0      1      7     0
3767     0    2       0    0       1    0      0      0     0

[1403 rows x 20 columns]
2698    1
2803    1
2018    1
3084    1
1647    1
       ..
3444    1
466     1
3092    1
3772    1
860     0
Name: wybor_gatunku, Length: 2848, dtype: int64
1024    1
2179    1
4104    1
3622    0
4130    0
       ..
2905    1
3426    1
2457    1
836     1
3767    1
Name: wybor_gatunku, Length: 1403, dtype: int64

6. Utworzyć model regresji logistycznej i nauczyć go rozpoznawać wybrany gatunek filmu.
7. Przetestować go na zbiorze uczącym i obliczyć "*confusion matrix*"

In [87]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [88]:
model = LogisticRegression(max_iter=2000).fit(X_train, y_train)
y_pred = model.predict(X_test)

In [91]:
# scaler = preprocessing.StandardScaler().fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# scaler2 = preprocessing.StandardScaler().fit(X_test)
# X_test_scaled = scaler2.transform(X_test)
# model_scaled = LogisticRegression(max_iter=2000).fit(X_train_scaled, y_train)

print('\nDokładność danych testowych za pomocą metody score')
print("Dokładność modelu: ", model.score(X_test, y_test))
# print("Skalowanie: ", model_scaled.score(X_test_scaled, y_test))

DDokładność danych testowych za pomocą metody score
Dokładność modelu:  0.8816821097647898

In [ ]:

conf_matrix = confusion_matrix(y_test, y_pred)

# HEATMAP
fig, ax = plt.subplots(figsize=(8, 8))
ax.imshow(conf_matrix)
ax.grid(False)
ax.xaxis.set(ticks=(0, 1), ticklabels=('Predicted 0s', 'Predicted 1s'))
ax.yaxis.set(ticks=(0, 1), ticklabels=('Actual 0s', 'Actual 1s'))
ax.set_ylim(1.5, -0.5)
for i in range(2):
    for j in range(2):
        ax.text(j, i, conf_matrix[i, j], ha='center', va='center', color='red')
plt.show()

8. Używając metody ```.predict_proba()``` obliczyć jakie prawdopodobieństwo klasyfikator obliczył dla wyników fałszywie dodatnich i fałszywie ujemnych. Wynik zwizualizować.