In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("weather1.txt")

In [10]:
type(data)

pandas.core.frame.DataFrame

In [19]:
data

     MX000017004195504TMAX  310  I  310  I  310  I  320  I  330  I  320  I  320  I  330  I  330  I  330  I  330  I  320  I  310  I  310  I  320  I  320  I  320  I  310  I  310  I  320  I  320  I  330  I  330  I  330  I  330  I  330  I  330  I  340  I  330  I  320  I-9999
0     MX000017004195504TMIN  150  I  150  I  160  I ...
1     MX000017004195504PRCP    0  I    0  I    0  I ...
2     MX000017004195505TMAX  310  I  310  I  310  I ...
3     MX000017004195505TMIN  200  I  160  I  160  I ...
4     MX000017004195505PRCP    0  I    0  I    0  I ...
...                                                 ...
1708  MX000017004201103TMIN-9999   -9999   -9999   -...
1709  MX000017004201103PRCP    0  S-9999       0  S ...
1710  MX000017004201104TMAX-9999     350  S-9999   -...
1711  MX000017004201104TMIN-9999     168  S-9999   -...
1712  MX000017004201104PRCP    0  S    0  S-9999   -...

[1713 rows x 1 columns]

In [58]:
dct_to_return = {}
for r in data.iterrows():
    # print(type(r[1]))
    line = r[1][0]
    split_line = line.split()
    # print(split_line)
    to_return = split_line[0][11:17]
    # print(type(to_return))
    
    if to_return == "201001" or to_return == "201002" or to_return == "201003" or to_return == "201004" or to_return == "201005":
        # print(split_line[0])
        if split_line[0][:len(split_line[0])-5] == "-9999":
            id_ = split_line[0][:len(split_line[0])-5]
        else:
            id_ = split_line[0]
        print(id_)
        dct_to_return[id_] = split_line[1:]
        # print(split_line)

# print(dct_to_return)

# for k, v in dct_to_return.items():
#     print(f"{k}: {v}")

# df = pd.DataFrame(dct_to_return)

MX000017004201001TMAX-9999
MX000017004201001TMIN-9999
MX000017004201001PRCP-9999
MX000017004201002TMAX-9999
MX000017004201002TMIN-9999
MX000017004201002PRCP-9999
MX000017004201003TMAX-9999
MX000017004201003TMIN-9999
MX000017004201003PRCP-9999
MX000017004201004TMAX-9999
MX000017004201004TMIN-9999
MX000017004201004PRCP
MX000017004201005TMAX-9999
MX000017004201005TMIN-9999
MX000017004201005PRCP-9999